<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta charset="utf-8">
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
    </script>

    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="AMASLINK is fast-growing free online classifieds with advanced security system. We provide a simple hassle-free solution to sell and buy almost anything, anytime,anywhere.">
	<meta name="author" content="Benson Michael Owen - OwenKz">
    <title>Amaslnk - Best Free Classified Ads</title>
    <meta name="title" Content="Amaslink Classified - Home">

    <link rel="shortcut icon" href="/plugins/images/favicon.png" type="image/x-icon">    
    <link rel="apple-touch-icon" href="/plugins/images/favicon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaslink Classifed - Home">
    

    <meta itemprop="image" content="/assets/logo.png">
    
    <meta property="og:type" content="website">
    <meta property="og:title" content="Amaslink Classified">
   
    <meta property="og:image" content="/assets/logo.png"/>
    <meta property="og:image:type" content="png"/>
    <meta property="og:image:width" content="1180" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="www.amaslink.com/login">
    
    <meta name="twitter:card" content="summary_large_image">
        <!-- Favicon icon -->
        <link rel="icon" type="image/png" sizes="16x16" href="/plugins/images/favicon.png">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/forms.css">

</head>
<body>
    <div class="formContainer">
        <div class="form_header">
            <div class="form_header_left">
                <div class="image_container">
                    <img src="/assets/logo.png" alt="Logo">
                </div>
            </div>

            <div class="form_header_right">
           
            </div>
        </div>
        <!-- End form header  -->
         <!-- Start from Title  -->
          <div class="form_title">
            <h1><b>Welcome, Login as Admin</b></h1>
          </div>
         <!-- end form Title  -->

         <!-- start form body  -->
         <form id="loginForm">
            <div class="form_control">
                <label for="Username">Username / email</label>
            <input type="text" id="user" placeholder="Enter Your username" required>
            </div>



            <div class="form_control">
                <label for="password">Password</label>
            <input type="password" id="password" placeholder="Enter a password" required>
            </div>

    

            <div class="form_body_footer"></div>
            <!-- <input type="submit" class="submit_btn" value="Login"> -->
            <button type="submit" class="submit_btn">Login</button>
        </form>
         <!-- End form body  -->

         <div class="form_divider">
            <div class="line"></div>
            <span>or</span>
            <div class="line"></div>
         </div>

    


    </div>
 


  <div id="google_translate_element"></div>
<script src="/js/admin/login.js"></script>

</body>
</html>