<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
    </script>

    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        <!-- Favicon icon -->
        <link rel="icon" type="image/png" sizes="16x16" href="/plugins/images/favicon.png">
    <title>Amaslnk - Best Free Classified Ads</title>
    <link rel="stylesheet" href="/css/general.css">

    <link rel="stylesheet" href="/css/products.css">
    <link rel="stylesheet" href="/css/categories.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body>
    <input type="hidden" id="fullnameContainer" value="<%=username%>">

    <!-- Start Top Section  -->
     <section class="topSection" id="topBarContainer">
     </section>
     <!-- End top section  -->
            <!-- Start navbar   -->
            <div class="navbar navbarContainer" id="navbarContainer">
            </div> 

            <!-- Start Horizontal Navbar  -->
             <div class="containerForNav">
                 <!-- Left  -->
            <!-- <div class="navbar-left">
                <div class="image_container">
                    <img src="/assets/logo.png" alt="Amaslink Logo">
                </div>
            </div> -->
            <!-- End Left  -->
            <div class="horizontalNavbar navbarContainer">
                

            </div>
             </div>
                 
                    <!-- End Horizontal navbar  -->
                
                <!-- END navbar Section  -->
    <!-- Start Products Section  -->
    <section class="productsSection">
        <!-- start listings  -->
        <div class="listings cat_cont">
            <div class="product_header">Categories</div>
            <!-- start list  -->
            <div class="products_list" id="categoriesContainer">
      <!-- Products goes here  -->
            
             <!-- Start Category container  -->
             <div class="category_container">
                <ul class="categoriesList" id="productCategory">
               
                </ul>
            </div>
            <!-- End Vategory container  -->
            
            </div>
            <!-- end list  -->
                     
           

         
        </div>
        <div >
          
            <ul class="pagination" id="pagination" >
                <!-- <a href="#" class="pagination_item"><li>Prev</li></a>
                <a href="#" class="active pagination_item"><li>1</li></a>
                <a href="#"class="pagination_item"><li>2</li></a>
                <a href="#" class="pagination_item"><li>3</li></a>
                <a href="#" class="pagination_item"><li>4</li></a>
                <a href="#" class="pagination_item"><li>5</li></a>
                <a href="#" class="pagination_item"><li>Next</li></a> -->


            </ul>
          
        </div>
        <!-- End listings  -->
         </section>



      <Footer id="footerContainer">

      </Footer>
      <script src="/js/footer.js"></script>
         
        <script src="/js/navbar.js" type="module"></script>
        <script src="/js/queries/categories.js"></script>
  <div id="google_translate_element2">
        <div id="google_translate_element"></div>
      </div>
      <%- include ("googleTranslate") %>
      <script src="/js/jquery-1.12.4.min.js"></script>
      <script src="/js/googleTranslate.js"></script>
</body>
</html>