<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amaslnk - Best Free Classified Ads</title>
    <link rel="stylesheet" href="/css/general.css">
</head>
<body>
    <!-- Start Top Section  -->
     <section class="topSection">
        <!-- start top bar  -->
        <div class="topBar">
            <!-- div.searchContainer  -->
             <div class="searchContainer">
                <form action="#">
                    <select name="searchBy" id="searchBy">
                        <option value="Category">Category</option>
                        <option value="Keywords">Keywords</option>
                        <option value="Country">Country</option>
                    </select>
                    <input type="text" name="q" placeholder="Enter Search Query Here">
                    <button>S</button>
                </form>
             </div>
            <!-- End Search container  -->
        </div>
        <!-- end topbar -->
        <!-- Start navbar   -->
        <div class="navbar">
            <!-- Left  -->
            <div class="navbar-left">
                <div class="image_container">
                    <img src="/assets/logo.png" alt="Amaslink Logo">
                </div>
            </div>
            <!-- End Left  -->

            
            <div class="nav_right">
                <ul class="nav_list">
                    <li>Home</li>
                    <li class="dropdown">
                        <a href="#">Explore</a>
                        <ul class="dropdown_menu">
                            <li>Categories</li>
                            <li>Listings</li>
                            <li>Auctions</li>
                        </ul>
                    </li>
                    <li>Fortum</li>
                    <li>FAQs</li>
                    <li>Privacy Policy</li>
                    <li>Contact</li>
                    <li>Blog</li>
                    <li><button class="post_add btn-border">Post Add</button></li>
                    <li><button class="btn-primary">Login</button></li>
                    <li><button class="btn-seccondary">Register</button></li>

                </ul>
            </div><!-- Right -->
            <!-- End right  -->

        </div>

        <!-- END navbar Section  -->
     </section>
     <!-- End top section  -->



</body>
</html>