<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Favicon icon -->
        <link rel="icon" type="image/png" sizes="16x16" href="/plugins/images/favicon.png">
    <title>Amaslnk - Best Free Classified Ads</title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/products.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body>
    <!-- Start Top Section  -->
     <section class="topSection" id="topBarContainer">

     </section>
     <!-- End top section  -->
            <!-- Start navbar   -->
            <div class="navbar navbarContainer" id="navbarContainer">
                </div> 

                <!-- Start Horizontal Navbar  -->
                 <div class="containerForNav">
                     <!-- Left  -->
                <!-- <div class="navbar-left">
                    <div class="image_container">
                        <img src="/assets/logo.png" alt="Amaslink Logo">
                    </div>
                </div> -->
                <!-- End Left  -->
                <div class="horizontalNavbar navbarContainer">
                    

                </div>
                 </div>
              
                 <!-- End Horizontal navbar  -->
         <!-- END navbar Section  -->




     <!-- Start Ads Section  -->
      <section class="AdsSection">
        <!-- Start slides -->
        <div class="ads-slide">
            <div class="slide slide-one"></div>
            <div class="slide slide-two"></div>
            <div class="slide slide-three"></div>
            <a href="#">
                <div class="slide slide-four" style="background-color: gold; background-image: url(/assets/ad_space.png);"></div>
            </a>
            <!-- Add more slides as needed -->
            <button class="arrow left-arrow">&lt;</button>
            <button class="arrow right-arrow">&gt;</button>
        </div>
        
        <!-- End slides  -->

        <!-- Start static banner  -->
         <div class="static-ad">
            <img src="/assets/ad_space.png" alt="Vacant Ad Space">
         </div>
        <!-- End Ad Static Banner  -->
      </section>
      <!-- End Ads Section  -->


<!-- Start Products Section  -->
      <section class="productsSection">
        <!-- start listings  -->
        <div class="listings">
            <div class="product_header">Listings</div>
            <!-- start list  -->
            <div class="products_list" id="listingsContainer">
      <!-- Products goes here  -->
            
            
            
            </div>
            <!-- end list  -->

         
        </div>
        <div class="list_footer">
            <a href="/listings">See More</a>
          
        </div>
        <!-- End listings  -->

        <div class="sponsored_ads">
            <div class="product_header">Sponsored Ads</div>
            <div class="sponsoredAdsList">
                <div class="sponsoredAd">
                    <div class="image_container">
                        <!-- <img src="/uploads/dummy.jpg" alt="Product image"> -->
            <img src="/assets/ad_space.png" alt="Vacant Ad Space">

                    </div>
                    <div class="actions">
                        <div class="viewsCount">
                            <i class="sponsored_icon"></i>
                            <span>Sponsored</span>
                            
                        </div>

                    </div>
                           <!-- start product info  -->
                           <div class="product_info">
                            <div class="product_name">
                                This is a demo product that has 20 chrac......
                            </div>
                            <div class="location"><i class="location_icon"></i>Nigeria</div>
                         </div>
                         <!-- end product info  -->
                </div>
                <div class="sponsoredAd">
                    <div class="image_container">
                        <!-- <img src="/uploads/dummy.jpg" alt="Product image"> -->
            <img src="/assets/ad_space.png" alt="Vacant Ad Space">

                    </div>
                    <div class="actions">
                        <div class="viewsCount">
                            <i class="sponsored_icon"></i>
                            <span>Sponsored</span>
                            
                        </div>

                    </div>
                           <!-- start product info  -->
                           <div class="product_info">
                            <div class="product_name">
                                This is a demo product that has 20 chrac......
                            </div>
                            <div class="location"><i class="location_icon"></i>Nigeria</div>
                         </div>
                         <!-- end product info  -->
                </div>
                <div class="sponsoredAd">
                    <div class="image_container">
                        <!-- <img src="/uploads/dummy.jpg" alt="Product image"> -->
            <img src="/assets/ad_space.png" alt="Vacant Ad Space">

                    </div>
                    <div class="actions">
                        <div class="viewsCount">
                            <i class="sponsored_icon"></i>
                            <span>Sponsored</span>
                            
                        </div>

                    </div>
                           <!-- start product info  -->
                           <div class="product_info">
                            <div class="product_name">
                                This is a demo product that has 20 chrac......
                            </div>
                            <div class="location"><i class="location_icon"></i>Nigeria</div>
                         </div>
                         <!-- end product info  -->
                </div>
                <div class="sponsoredAd">
                    <div class="image_container">
                        <!-- <img src="/uploads/dummy.jpg" alt="Product image"> -->
            <img src="/assets/ad_space.png" alt="Vacant Ad Space">

                    </div>
                    <div class="actions">
                        <div class="viewsCount">
                            <i class="sponsored_icon"></i>
                            <span>Sponsored</span>
                            
                        </div>

                    </div>
                           <!-- start product info  -->
                           <div class="product_info">
                            <div class="product_name">
                                This is a demo product that has 20 chrac......
                            </div>
                            <div class="location"><i class="location_icon"></i>Nigeria</div>
                         </div>
                         <!-- end product info  -->
                </div>
                <div class="sponsoredAd">
                    <div class="image_container">
                        <!-- <img src="/uploads/dummy.jpg" alt="Product image"> -->
            <img src="/assets/ad_space.png" alt="Vacant Ad Space">

                    </div>
                    <div class="actions">
                        <div class="viewsCount">
                            <i class="sponsored_icon"></i>
                            <span>Sponsored</span>
                            
                        </div>

                    </div>
                           <!-- start product info  -->
                           <div class="product_info">
                            <div class="product_name">
                                This is a demo product that has 20 chrac......
                            </div>
                            <div class="location"><i class="location_icon"></i>Nigeria</div>
                         </div>
                         <!-- end product info  -->
                </div>
                <div class="sponsoredAd">
                    <div class="image_container">
                        <!-- <img src="/uploads/dummy.jpg" alt="Product image"> -->
            <img src="/assets/ad_space.png" alt="Vacant Ad Space">

                    </div>
                    <div class="actions">
                        <div class="viewsCount">
                            <i class="sponsored_icon"></i>
                            <span>Sponsored</span>
                            
                        </div>

                    </div>
                           <!-- start product info  -->
                           <div class="product_info">
                            <div class="product_name">
                                This is a demo product that has 20 chrac......
                            </div>
                            <div class="location"><i class="location_icon"></i>Nigeria</div>
                         </div>
                         <!-- end product info  -->
                </div>
            </div>
        </div>
      </section>
      <!-- End Products Section  -->



      <Footer id="footerContainer">

      </Footer>
      <script src="/js/footer.js"></script>

      <script src="/js/adsSlide.js"></script>
      <script src="/js/navbar.js"></script>
      <script src="/js/queries/listings.js"></script>
</body>
</html>