<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amaslnk - Best Free Classified Ads</title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/products.css">
</head>
<body>
    <!-- Start Top Section  -->
     <section class="topSection">
        <!-- start top bar  -->
        <div class="topBar">
            <div class="topBarLeft">
                <ul>
                    <li>Login</li>
                    |
                    <li><b>Register</b></li>
                </ul>
            </div>
            <!-- div.searchContainer  -->
             <div class="searchContainer">
                <form action="#">
                    <select name="searchBy" id="searchBy">
                        <option value="Category">Category</option>
                        <option value="Keywords">Keywords</option>
                        <option value="Country">Country</option>
                    </select>
                    <input type="text" name="q" placeholder="Enter Search Query Here">
                    <button>S</button>
                </form>
             </div>
            <!-- End Search container  -->
        </div>
        <!-- end topbar -->
  
     </section>
     <!-- End top section  -->
            <!-- Start navbar   -->
            <div class="navbar">
                <!-- Left  -->
                <div class="navbar-left">
                    <div class="image_container">
                        <img src="/assets/logo.png" alt="Amaslink Logo">
                    </div>
                </div>
                <!-- End Left  -->
    
                
                <div class="nav_right">
                    <ul class="nav_list">
                        <li>Home</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle">Explore <i class="arrow-down"></i></a>
                            <ul class="dropdown-menu">
                              <li><a href="/categories">Categories</a></li>
                              <li><a href="/listings">Listings</a></li>
                              <li><a href="/auctions">Auctions</a></li>
                            </ul>
                          </li>
                        <li>Fortum</li>
                        <li>FAQs</li>
                        <li>Privacy Policy</li>
                        <li>Contact</li>
                        <li>Blog</li>
                        <li><button class="post_add btn-border">Post AD</button></li>
                       
    
                    </ul>
                </div><!-- Right -->
                <!-- End right  -->
    
            </div>
    
            <!-- END navbar Section  -->

     <!-- Start Ads Section  -->
      <section class="AdsSection">
        <!-- Start slides -->
        <div class="ads-slide">
            <div class="slide slide-one"></div>
            <div class="slide slide-two"></div>
            <div class="slide slide-three"></div>
            <a href="#">
                <div class="slide slide-four" style="background-color: gold; background-image: url(/assets/ad_space.png);"></div>
            </a>
            <!-- Add more slides as needed -->
            <button class="arrow left-arrow">&lt;</button>
            <button class="arrow right-arrow">&gt;</button>
        </div>
        
        <!-- End slides  -->

        <!-- Start static banner  -->
         <div class="static-ad">
            <img src="/assets/ad_space.png" alt="Vacant Ad Space">
         </div>
        <!-- End Ad Static Banner  -->
      </section>
      <!-- End Ads Section  -->


<!-- Start Products Section  -->
      <section class="productsSection">
        <!-- start listings  -->
        <div class="listings">
            <div class="product_header">Listings</div>
            <!-- start list  -->
            <div class="products_list">
                <!-- start single_item  -->
                <div class="product_item">
                    <div class="image_container">
                        <img src="/uploads/dummy.jpg" alt="Product image">
                    </div>
                    <div class="actions">
                        <div class="viewsCount">
                            <i class="eye_icon"></i>
                            <span>0</span>
                        </div>

                        <div class="save_item">
                            <i class="heart_icon"></i>
                        </div>
                    </div>
                    <!-- start product info  -->
                     <div class="product_info">
                        <div class="product_name">
                            This is a demo product that has 20 chrac......
                        </div>
                        <div class="location"><i class="location_icon"></i>Nigeria</div>
                     </div>
                     <!-- end product info  -->
                </div>
                <!-- div.End_single_item  -->
                      <!-- start single_item  -->
                <div class="product_item">
                    <div class="image_container">
                        <img src="/uploads/dummy.jpg" alt="Product image">
                    </div>
                    <div class="actions">
                        <div class="viewsCount">
                            <i class="eye_icon"></i>
                            <span>0</span>
                        </div>

                        <div class="save_item">
                            <i class="heart_icon"></i>
                        </div>
                    </div>
                    <!-- start product info  -->
                     <div class="product_info">
                        <div class="product_name">
                            This is a demo product that has 20 chrac......
                        </div>
                        <div class="location"><i class="location_icon"></i>Nigeria</div>
                     </div>
                     <!-- end product info  -->
                </div>
                <!-- div.End_single_item  -->
                      <!-- start single_item  -->
                <div class="product_item">
                    <div class="image_container">
                        <img src="/uploads/dummy.jpg" alt="Product image">
                    </div>
                    <div class="actions">
                        <div class="viewsCount">
                            <i class="eye_icon"></i>
                            <span>0</span>
                        </div>

                        <div class="save_item">
                            <i class="heart_icon"></i>
                        </div>
                    </div>
                    <!-- start product info  -->
                     <div class="product_info">
                        <div class="product_name">
                            This is a demo product that has 20 chrac......
                        </div>
                        <div class="location"><i class="location_icon"></i>Nigeria</div>
                     </div>
                     <!-- end product info  -->
                </div>
                <!-- div.End_single_item  -->
                      <!-- start single_item  -->
                <div class="product_item">
                    <div class="image_container">
                        <img src="/uploads/dummy.jpg" alt="Product image">
                    </div>
                    <div class="actions">
                        <div class="viewsCount">
                            <i class="eye_icon"></i>
                            <span>0</span>
                        </div>

                        <div class="save_item">
                            <i class="heart_icon"></i>
                        </div>
                    </div>
                    <!-- start product info  -->
                     <div class="product_info">
                        <div class="product_name">
                            This is a demo product that has 20 chrac......
                        </div>
                        <div class="location"><i class="location_icon"></i>Nigeria</div>
                     </div>
                     <!-- end product info  -->
                </div>
                <!-- div.End_single_item  -->
                      <!-- start single_item  -->
                <div class="product_item">
                    <div class="image_container">
                        <img src="/uploads/dummy.jpg" alt="Product image">
                    </div>
                    <div class="actions">
                        <div class="viewsCount">
                            <i class="eye_icon"></i>
                            <span>0</span>
                        </div>

                        <div class="save_item">
                            <i class="heart_icon"></i>
                        </div>
                    </div>
                    <!-- start product info  -->
                     <div class="product_info">
                        <div class="product_name">
                            This is a demo product that has 20 chrac......
                        </div>
                        <div class="location"><i class="location_icon"></i>Nigeria</div>
                     </div>
                     <!-- end product info  -->
                </div>
                <!-- div.End_single_item  -->
                      <!-- start single_item  -->
                <div class="product_item">
                    <div class="image_container">
                        <img src="/uploads/dummy.jpg" alt="Product image">
                    </div>
                    <div class="actions">
                        <div class="viewsCount">
                            <i class="eye_icon"></i>
                            <span>0</span>
                        </div>

                        <div class="save_item">
                            <i class="heart_icon"></i>
                        </div>
                    </div>
                    <!-- start product info  -->
                     <div class="product_info">
                        <div class="product_name">
                            This is a demo product that has 20 chrac......
                        </div>
                        <div class="location"><i class="location_icon"></i>Nigeria</div>
                     </div>
                     <!-- end product info  -->
                </div>
                <!-- div.End_single_item  -->
            </div>
            <!-- end list  -->

         
        </div>
        <div class="list_footer">
            <a href="#">See More</a>
          
        </div>
        <!-- End listings  -->

        <div class="sponsored_ads">
            <div class="product_header">Sponsored Ads</div>
            <div class="sponsoredAdsList">
                <div class="sponsoredAd">
                    <div class="image_container">
                        <!-- <img src="/uploads/dummy.jpg" alt="Product image"> -->
            <img src="/assets/ad_space.png" alt="Vacant Ad Space">

                    </div>
                    <div class="actions">
                        <div class="viewsCount">
                            <i class="sponsored_icon"></i>
                            <span>Sponsored</span>
                            
                        </div>

                    </div>
                           <!-- start product info  -->
                           <div class="product_info">
                            <div class="product_name">
                                This is a demo product that has 20 chrac......
                            </div>
                            <div class="location"><i class="location_icon"></i>Nigeria</div>
                         </div>
                         <!-- end product info  -->
                </div>
                <div class="sponsoredAd">
                    <div class="image_container">
                        <!-- <img src="/uploads/dummy.jpg" alt="Product image"> -->
            <img src="/assets/ad_space.png" alt="Vacant Ad Space">

                    </div>
                    <div class="actions">
                        <div class="viewsCount">
                            <i class="sponsored_icon"></i>
                            <span>Sponsored</span>
                            
                        </div>

                    </div>
                           <!-- start product info  -->
                           <div class="product_info">
                            <div class="product_name">
                                This is a demo product that has 20 chrac......
                            </div>
                            <div class="location"><i class="location_icon"></i>Nigeria</div>
                         </div>
                         <!-- end product info  -->
                </div>
                <div class="sponsoredAd">
                    <div class="image_container">
                        <!-- <img src="/uploads/dummy.jpg" alt="Product image"> -->
            <img src="/assets/ad_space.png" alt="Vacant Ad Space">

                    </div>
                    <div class="actions">
                        <div class="viewsCount">
                            <i class="sponsored_icon"></i>
                            <span>Sponsored</span>
                            
                        </div>

                    </div>
                           <!-- start product info  -->
                           <div class="product_info">
                            <div class="product_name">
                                This is a demo product that has 20 chrac......
                            </div>
                            <div class="location"><i class="location_icon"></i>Nigeria</div>
                         </div>
                         <!-- end product info  -->
                </div>
                <div class="sponsoredAd">
                    <div class="image_container">
                        <!-- <img src="/uploads/dummy.jpg" alt="Product image"> -->
            <img src="/assets/ad_space.png" alt="Vacant Ad Space">

                    </div>
                    <div class="actions">
                        <div class="viewsCount">
                            <i class="sponsored_icon"></i>
                            <span>Sponsored</span>
                            
                        </div>

                    </div>
                           <!-- start product info  -->
                           <div class="product_info">
                            <div class="product_name">
                                This is a demo product that has 20 chrac......
                            </div>
                            <div class="location"><i class="location_icon"></i>Nigeria</div>
                         </div>
                         <!-- end product info  -->
                </div>
                <div class="sponsoredAd">
                    <div class="image_container">
                        <!-- <img src="/uploads/dummy.jpg" alt="Product image"> -->
            <img src="/assets/ad_space.png" alt="Vacant Ad Space">

                    </div>
                    <div class="actions">
                        <div class="viewsCount">
                            <i class="sponsored_icon"></i>
                            <span>Sponsored</span>
                            
                        </div>

                    </div>
                           <!-- start product info  -->
                           <div class="product_info">
                            <div class="product_name">
                                This is a demo product that has 20 chrac......
                            </div>
                            <div class="location"><i class="location_icon"></i>Nigeria</div>
                         </div>
                         <!-- end product info  -->
                </div>
                <div class="sponsoredAd">
                    <div class="image_container">
                        <!-- <img src="/uploads/dummy.jpg" alt="Product image"> -->
            <img src="/assets/ad_space.png" alt="Vacant Ad Space">

                    </div>
                    <div class="actions">
                        <div class="viewsCount">
                            <i class="sponsored_icon"></i>
                            <span>Sponsored</span>
                            
                        </div>

                    </div>
                           <!-- start product info  -->
                           <div class="product_info">
                            <div class="product_name">
                                This is a demo product that has 20 chrac......
                            </div>
                            <div class="location"><i class="location_icon"></i>Nigeria</div>
                         </div>
                         <!-- end product info  -->
                </div>
            </div>
        </div>
      </section>
      <!-- End Products Section  -->



      <Footer>
        <div class="footer">
            <div class="footer_top">
                <div class="footer_top_left">
                    <h3>About Us</h3>
                    <ul>
                        <li class="logo_container"><img src="/assets/logo.png" alt=""></li>
                        <li><p>AMASLINK is fast-growing free online classifieds with advanced security system. We provide a simple hassle-free solution to sell and buy almost anything, anytime,anywhere.</p></li>
                        <li><a href="mailTo:Support@amaslink.com">Support@amaslink.com</a></li>
                    </ul>

                    <h3>Subscribe to our News Letter</h3>
                    <form action="#">
                        <input type="text" placeholder="What's your name?" required>
                        <input type="email" placeholder="Email" required>
                        <button>Subsribe</button>
                    </form>
                </div>
                <div class="footer_top_middle">
                    <h3>Latest Ads</h3>
                    <div class="latest_ads_Container">
                        <div class="ad"><img src="/uploads/dummy.jpg" alt=""></div>
                        <div class="ad"><img src="/uploads/dummy.jpg" alt=""></div>
                        <div class="ad"><img src="/uploads/dummy.jpg" alt=""></div>
                        <div class="ad"><img src="/uploads/dummy.jpg" alt=""></div>
                        <div class="ad"><img src="/uploads/dummy.jpg" alt=""></div>
                        <div class="ad"><img src="/uploads/dummy.jpg" alt=""></div>
                        <div class="ad"><img src="/uploads/dummy.jpg" alt=""></div>

                    </div>
                 
                </div>
                <div class="footer_top_right">
                    <h3>Quick Links</h3>
                    <ul>
                        <li>Listings</li>
                        <li>Login</li>
                        <li>Register</li>
                        <li>How To Post Ads</li>
                    </ul>
                    <h3>Recent Posts</h3>
                    <ul>
                        <li>Post Title</li>
                        <li>Date</li>
                    </ul>

                </div>
            </div>
            <div class="footer_bottom">

            </div>
        </div>
      </Footer>
      <script src="/js/adsSlide.js"></script>
      <script src="/js/navbar.js"></script>
</body>
</html>