<!DOCTYPE html>
<html lang="en">

<head>

    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta charset="utf-8">
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
    </script>

    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="AMASLINK is fast-growing free online classifieds with advanced security system. We provide a simple hassle-free solution to sell and buy almost anything, anytime,anywhere.">
	<meta name="author" content="Benson Michael Owen - OwenKz">
    <title>Amaslnk - Best Free Classified Ads</title>
    <meta name="title" Content="Amaslink Classified - Home">

    <link rel="shortcut icon" href="/plugins/images/favicon.png" type="image/x-icon">
    
    <link rel="apple-touch-icon" href="/plugins/images/favicon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaslink Classifed - Home">

    <meta itemprop="image" content="/assets/logo.png">
    
    <meta property="og:type" content="website">
    <meta property="og:title" content="Amaslink Classified">
   
    <meta property="og:image" content="/assets/logo.png"/>
    <meta property="og:image:type" content="png"/>
    <meta property="og:image:width" content="1180" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="www.amaslink.com">
    
    <meta name="twitter:card" content="summary_large_image">

        <!-- Favicon icon -->
        <link rel="icon" type="image/png" sizes="16x16" href="/plugins/images/favicon.png">
    
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <link rel="stylesheet" href="/css/line-awesome.min.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/slick.min.css">
    <link rel="stylesheet" href="/css/venobox.min.css">
    <link rel="stylesheet" href="/css/splitting.css">
    <link rel="stylesheet" href="/css/keyframe-animation.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/general.css">

    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/products.css">
<link rel="stylesheet" href="/css/categories.css">

<link rel="stylesheet" href="/css/homeSlide.css">

<script src="https://cdn.jsdelivr.net/emojione/2.2.7/lib/js/emojione.min.js" type="text/javascript" async="" defer=""></script><script src="https://cdn.jsdelivr.net/emojione/2.2.7/lib/js/emojione.min.js" type="text/javascript" async="" defer=""></script><style type="text/css">@keyframes tawkMaxOpen{0%{opacity:0;transform:translate(0, 30px);;}to{opacity:1;transform:translate(0, 0px);}}@-moz-keyframes tawkMaxOpen{0%{opacity:0;transform:translate(0, 30px);;}to{opacity:1;transform:translate(0, 0px);}}@-webkit-keyframes tawkMaxOpen{0%{opacity:0;transform:translate(0, 30px);;}to{opacity:1;transform:translate(0, 0px);}}#lgd1vnrv4g0o1724681507247.open{animation : tawkMaxOpen .25s ease!important;}@keyframes tawkMaxClose{from{opacity: 1;transform:translate(0, 0px);;}to{opacity: 0;transform:translate(0, 30px);;}}@-moz-keyframes tawkMaxClose{from{opacity: 1;transform:translate(0, 0px);;}to{opacity: 0;transform:translate(0, 30px);;}}@-webkit-keyframes tawkMaxClose{from{opacity: 1;transform:translate(0, 0px);;}to{opacity: 0;transform:translate(0, 30px);;}}#lgd1vnrv4g0o1724681507247.closed{animation: tawkMaxClose .25s ease!important}</style>
</head>
    <body class="content" style="position: relative; min-height: 100%; top: 0px;">
</head>
<body>
    <input type="hidden" id="fullnameContainer" value="<%=username%>">


    <!-- Start Top Section  -->
     <section class="topSection " id="topBarContainer">

     </section>
     <!-- End top section  -->
            <!-- Start navbar   -->
             <!-- <div class="backgroundParent"> -->
            <div class="navbar navbarContainer " id="navbarContainer">
                </div> 
            <!-- </div> -->
                <!-- Start Horizontal Navbar  -->
                 <div class="containerForNav">
                     <!-- Left  -->
                <!-- <div class="navbar-left">
                    <div class="image_container">
                        <img src="/assets/logo.png" alt="Amaslink Logo">
                    </div>
                </div> -->
                <!-- End Left  -->
                <div class="horizontalNavbar navbarContainer">
                    

                </div>
                 </div>
              
                 <!-- End Horizontal navbar  -->
         <!-- END navbar Section  -->

<seciton>
    <div id="main-slider" class="main-slider">
        <div class="single-slide">
            <div class="bg-img" style="background-image: url(/assets/slide1.png);"></div>
            <div class="slider-content-wrap d-flex align-items-center text-left">
                <div class="container">
                    <div class="slider-content">
                        <div class="slide-caption medium">
                            <div class="inner-layer">
                                <div data-animation="fade-in-right" data-delay="1s">Your Local Marketplace, Reimagined.</div>
                            </div>
                        </div>
                        <div class="slide-caption big">
                            <div class="inner-layer">
                                <div data-animation="reveal-text" data-delay="1s"><span style="animation-delay: 1s;"></span>Find, Buy, <br>Sell with Ease</div>
                            </div>
                        </div>
                        <!-- <div class="slide-caption big">
                            <div class="inner-layer">
                                <div data-animation="reveal-text" data-delay="2s"><span style="animation-delay: 2s;"></span>From Amaslink !</div>
                            </div>
                        </div> -->
                        <div class="slide-caption small">
                            <div class="inner-layer">
                                <div data-animation="fade-in-bottom" data-delay="3s">
                                    Connect with your community and and find what you need nearby.
                                </div>
                            </div>
                        </div>
                        <!-- <div class="slide-btn-group">
                            <div class="inner-layer">
                                <a href="/login" class="slide-btn" data-animation="fade-in-bottom" data-delay="3.5s">Get Started</a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    
        <div class="single-slide">
            <div class="bg-img" style="background-image: url(/assets/11.png);"></div>
            <div class="slider-content-wrap d-flex align-items-center text-left">
                <div class="container">
                    <div class="slider-content">
                        <div class="slide-caption medium">
                            <div class="inner-layer">
                                <!-- <div data-animation="fade-in-right" data-delay="1s">We have a better sense of investment.</div> -->
                            </div>
                        </div>
                        <div class="slide-caption big">
                            <div class="inner-layer">
                                <div data-animation="reveal-text" data-delay="1s"><span style="animation-delay: 1s;"></span>we will provide support</div>
                            </div>
                        </div>
                        <div class="slide-caption big">
                            <div class="inner-layer">
                                <div data-animation="reveal-text" data-delay="2s"><span style="animation-delay: 2s;"></span>and expert assistance</div>
                            </div>
                        </div>
                        <div class="slide-caption small">
                            <div class="inner-layer">
                                <div data-animation="fade-in-bottom" data-delay="3s">
                                    Need help? Our experts are ready to provide personalized support and guidance.
                                    <br>
                                    From troubleshooting to expert advice, we're committed to helping you achieve your goals.
                                    
                                </div>
                            </div>
                        </div>
                        <div class="slide-btn-group">
                            <div class="inner-layer">
                                <a href="/contact" class="slide-btn" data-animation="fade-in-bottom" data-delay="3.5s">
                                    Get in Touch
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Slide 01 -->
    
        <div class="single-slide">
            <div class="bg-img" style="background-image: url(/assets/10.png);"></div>
            <div class="slider-content-wrap d-flex align-items-center text-left">
                <div class="container">
                    <div class="slider-content">
                        <div class="slide-caption medium">
                            <div class="inner-layer">
                                <div data-animation="fade-in-right" data-delay="1s">
                                    Wide-ranging Categories.
                                </div>
                            </div>
                        </div>
                        <!-- <div class="slide-caption big">
                            <div class="inner-layer">
                                <div data-animation="reveal-text" data-delay="1s"><span style="animation-delay: 1s;"></span>Doing business with us is</div>
                            </div>
                        </div> -->
                        <div class="slide-caption big">
                            <div class="inner-layer">
                                <div data-animation="reveal-text" data-delay="2s">
                                    <span style="animation-delay: 2s;"></span>We Sell Anything, 
                                    <br>Anywhere
                                </div>
                            </div>
                        </div>
                        <div class="slide-caption small">
                            <div class="inner-layer">
                                <div data-animation="fade-in-bottom" data-delay="3s">
                                    Explore a vast selection of products, from electronics and fashion to home goods and more. <br>We source the best deals from trusted sellers worldwide, ensuring you find what you need, when you need it.
                                </div>
                            </div>
                        </div>
                        <div class="slide-btn-group">
                            <div class="inner-layer">
                                <a href="/listings" class="slide-btn" data-animation="fade-in-bottom" data-delay="3.5s">
                                    Explore
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Slide 02 -->
        <!-- Slide 03 -->
    </div>
    
</section>
    <!-- Start Products Section  -->
    <section class="productsSection backgroundParent catCont">
        <!-- start listings  -->
        <div class="listings cat_cont">
            <div class="product_header">Categories</div>
            <!-- start list  -->
            <div class="products_list" id="categoriesContainer">
      <!-- Products goes here  -->
            
             <!-- Start Category container  -->
             <div class="category_container">
                <ul class="categoriesList" id="productCategory">
               
                </ul>
            </div>
            <!-- End Vategory container  -->
            
            </div>
            <!-- end list  -->
                     
           

         
        </div>
        <div >
       
          
        </div>
        <!-- End listings  -->
         </section>



     <!-- Start Ads Section  -->
      <section class="AdsSection backgroundParent">
        <!-- Start slides -->
        <div class="ads-slide" id="slideAdvertContainer">
           <!-- <div class="slide slide-one"></div> -->
            <!-- <div class="slide slide-two"></div>
            <div class="slide slide-three"></div>
       -->
            <!-- Add more slides as needed -->
            <button class="arrow left-arrow"><i class="bi bi-arrow-left"></i></button>
            <button class="arrow right-arrow"><i class="bi bi-arrow-right"></i></button>
        </div>
        
        <!-- End slides  -->

        <!-- Start static banner  -->
         <div class="static-ad" id="staticAdvertContainer" style="background: #333;">
            
         </div>
        <!-- End Ad Static Banner  -->
      </section>
      <!-- End Ads Section  -->

   
<!-- Start Products  Section  -->
      <section class="productsSection ">
<!-- start listings top  -->
<div class="listings backgroundParent" style=" border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;">
    <div class="product_header">Listings</div>
    <!-- start list  -->
    <div class="products_list" id="listingsTopContainer" style="padding-bottom: 10px;">
<!-- Products goes here  -->            
    </div>
    <!-- end list  -->
</div>
<!-- End top  -->
        <!-- Start fullpage Ad  -->
        <div class="fullpageAd fixed" >
            <div class="fullpageAd inner" id="innerFullPage">
               
            </div>
        </div>

        <div class="fullpageAd transparent">
          
        </div>
         <!-- end full page ad  -->
 
        <!-- start listings bottom  -->
        <div class="listings backgroundParent" style="margin-top: 0px; border-top-left-radius: 0px; border-top-right-radius: 0px;">
            <!-- <div class="product_header">More Listings</div> -->
            <!-- start list  -->
            <div class="products_list" id="listingsBottomContainer">
      <!-- Products goes here  -->            
            </div>
            <!-- end list  -->
     
                <div class="list_footer ">
                    <a href="/listings">See More</a>
                  
                </div>
                <br>
        </div>
        <!-- End bottom  -->
     
      

        <div class="sponsored_ads backgroundParent">
            <div class="product_header">Sponsored Ads</div>
            <div class="sponsoredAdsList" id="sponsoredAdverts">
           
           
            </div>
        </div>
      </section>
      <!-- End Products Section  -->


<!-- <div class="backgroundParent"> -->
      <Footer id="footerContainer">

      </Footer>
      <!-- </div> -->
      <script src="/js/footer.js"></script>
      <div id="google_translate_element2">
        <div id="google_translate_element"></div>
      </div>
      <%- include ("googleTranslate") %>
      
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/66c02dbd146b7af4a43b6c6e/1i5fb5bab';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
<!--   <div id="google_translate_element"></div> -->

    <script src="/js/jquery-1.12.4.min.js"></script>
    <script src="/js/slick.min.js"></script>
    <script src="/js/venobox.min.js"></script>
    <script src="/js/slideMain.js"></script>

    <!--End of Tawk.to Script-->
      <script src="/js/adsSlide.js"></script>
<script src="/js/queries/getSlideShowAdverts.js"></script>

      <script src="/js/navbar.js" type="module"></script>
      <script src="/js/queries/listings.js"></script>
      <script src="/js/queries/categories.js"></script>
      <script src="/js/queries/fullpageadvert.js"></script>
      <script src="/js/queries/sponsored.js"></script>
      <script src="/js/queries/getStaticAd.js"></script>
      <script src="/js/googleTranslate.js"></script>
</body>
</html>