<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amaslnk - Best Free Classified Ads</title>
    <link rel="stylesheet" href="/css/general.css">

    <link rel="stylesheet" href="/css/products.css">
</head>
<body>
    <!-- Start Top Section  -->
     <section class="topSection" id="topBarContainer">
     </section>
     <!-- End top section  -->
            <!-- Start navbar   -->
            <div class="navbar" id="navbarContainer">
                </div>        <!-- END navbar Section  -->
    <!-- Start Products Section  -->
    <section class="productsSection">
        <!-- start listings  -->
        <div class="listings">
            <div class="product_header">Listings</div>
            <!-- start list  -->
            <div class="products_list" id="listingsContainer">
      <!-- Products goes here  -->
            
            
            
            </div>
            <!-- end list  -->

         
        </div>
        <div >
          
            <ul class="pagination" id="pagination" >
                <!-- <a href="#" class="pagination_item"><li>Prev</li></a>
                <a href="#" class="active pagination_item"><li>1</li></a>
                <a href="#"class="pagination_item"><li>2</li></a>
                <a href="#" class="pagination_item"><li>3</li></a>
                <a href="#" class="pagination_item"><li>4</li></a>
                <a href="#" class="pagination_item"><li>5</li></a>
                <a href="#" class="pagination_item"><li>Next</li></a> -->


            </ul>
          
        </div>
        <!-- End listings  -->
         </section>
         
        <script src="/js/navbar.js"></script>
        <script src="/js/queries/listings.js"></script>
</body>
</html>