<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Favicon icon -->
        <link rel="icon" type="image/png" sizes="16x16" href="/plugins/images/favicon.png">
    <title>Amaslnk - Best Free Classified Ads</title>
    <link rel="stylesheet" href="/css/general.css">

    <link rel="stylesheet" href="/css/products.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body>
    <input type="hidden" id="fullnameContainer" value="<%=username%>">

    <!-- Start Top Section  -->
     <section class="topSection" id="topBarContainer">
     </section>
     <!-- End top section  -->
            <!-- Start navbar   -->
            <div class="navbar" id="navbarContainer">
                </div>   

                      <!-- Start Horizontal Navbar  -->
                      <div class="containerForNav">
                        <!-- Left  -->
                   <!-- <div class="navbar-left">
                       <div class="image_container">
                           <img src="/assets/logo.png" alt="Amaslink Logo">
                       </div>
                   </div> -->
                   <!-- End Left  -->
                   <div class="horizontalNavbar navbarContainer">
                       
   
                   </div>
                    </div>
                 
                    <!-- End Horizontal navbar  -->
                
                <!-- END navbar Section  -->
    <!-- Start Products Section  -->
    <section class="productsSection">
        <!-- start listings  -->
        <div class="listings">
            <div class="product_header">Listings</div>
            <!-- start list  -->
            <div class="products_list" id="listingsContainer">
      <!-- Products goes here  -->
            
            
            
            </div>
            <!-- end list  -->

         
        </div>
        <div >
          
            <ul class="pagination" id="pagination" >
                <!-- <a href="#" class="pagination_item"><li>Prev</li></a>
                <a href="#" class="active pagination_item"><li>1</li></a>
                <a href="#"class="pagination_item"><li>2</li></a>
                <a href="#" class="pagination_item"><li>3</li></a>
                <a href="#" class="pagination_item"><li>4</li></a>
                <a href="#" class="pagination_item"><li>5</li></a>
                <a href="#" class="pagination_item"><li>Next</li></a> -->


            </ul>
          
        </div>
        <!-- End listings  -->
         </section>



      <Footer id="footerContainer">

      </Footer>
      <script src="/js/footer.js"></script>
         
        <script src="/js/navbar.js"></script>
        <script src="/js/queries/listings.js"></script>
</body>
</html>