<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amaslnk - Best Free Classified Ads</title>
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/forms.css">

</head>
<body>
    <div class="formContainer">
        <div class="form_header">
            <div class="form_header_left">
                <div class="image_container">
                    <img src="/assets/logo.png" alt="Logo">
                </div>
            </div>

            <div class="form_header_right">
                Don't have an account? | <a href="/register"><button>Signup</button></a>
            </div>
        </div>
        <!-- End form header  -->
         <!-- Start from Title  -->
          <div class="form_title">
            <h1><b>Welcome, Login to your account</b></h1>
          </div>
         <!-- end form Title  -->

         <!-- start form body  -->
         <form action="#" id="registerForm">
            <div class="form_control">
                <label for="Username">Username</label>
            <input type="text" id="username" placeholder="Enter Your username" required>
            </div>



            <div class="form_control">
                <label for="email">Email</label>
            <input type="email" id="email" placeholder="Enter your Email" required>
            </div>


            <div class="form_control">
                <label for="password">Password</label>
            <input type="password" id="password" placeholder="Enter a password" required>
            </div>

    

            <div class="form_body_footer"></div>
            <input type="submit" class="submit_btn" value="Login">
        </form>
         <!-- End form body  -->

         <div class="form_divider">
            <div class="line"></div>
            <span>or</span>
            <div class="line"></div>
         </div>

         <div class="form_sso_options">
            <div class="option_container">
                <div class="icon"><img width="30" height="30" src="https://img.icons8.com/color/48/google-logo.png" alt="google-logo"/></div>
               
                <div class="text">Continue With Google</div>
            </div>
         </div>


    </div>
 

    <script src="/js/forms/login.js"></script>

    <a  href="https://icons8.com/icon/17949/google">Google</a> icon by <a href="https://icons8.com">Icons8</a>
</body>
</html>