<!DOCTYPE html>
<html lang="en">

<head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-YRGBWSXVX2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-YRGBWSXVX2');
</script>

    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta charset="utf-8">
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
    </script>

    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="AMASLINK is fast-growing free online classifieds with advanced security system. We provide a simple hassle-free solution to sell and buy almost anything, anytime,anywhere.">
	<meta name="author" content="Benson Michael Owen - OwenKz">
    <title>Amaslnk - Map with Your location</title>
    <meta name="title" Content="Amaslink Classified - Home">

    <link rel="shortcut icon" href="/plugins/images/favicon.png" type="image/x-icon">
    
    <link rel="apple-touch-icon" href="/plugins/images/favicon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaslink Classifed - Home">

    <meta itemprop="image" content="/assets/logo.png">
    
    <meta property="og:type" content="website">
    <meta property="og:title" content="Amaslink Classified">
   
    <meta property="og:image" content="/assets/logo.png"/>
    <meta property="og:image:type" content="png"/>
    <meta property="og:image:width" content="1180" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="www.amaslink.com">
    
    <meta name="twitter:card" content="summary_large_image">

        <!-- Favicon icon -->
        <link rel="icon" type="image/png" sizes="16x16" href="/plugins/images/favicon.png">
    
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <link rel="stylesheet" href="/css/line-awesome.min.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/slick.min.css">
    <link rel="stylesheet" href="/css/venobox.min.css">
    <link rel="stylesheet" href="/css/splitting.css">
    <link rel="stylesheet" href="/css/keyframe-animation.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/general.css">


    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />

</head>
<body>
    <style>
        a:hover{
            color: inherit;
        }
    </style>
    <input type="hidden" id="fullnameContainer" value="<%=username%>">


    <!-- Start Top Section  -->
     <section class="topSection " id="topBarContainer">

     </section>
     <!-- End top section  -->
            <!-- Start navbar   -->
             <!-- <div class="backgroundParent"> -->
            <div class="navbar navbarContainer " id="navbarContainer">
                </div> 
            <!-- </div> -->
                <!-- Start Horizontal Navbar  -->
                 <div class="containerForNav">
              
                <div class="horizontalNavbar navbarContainer">
                    

                </div>
                 </div>
              
                 <!-- End Horizontal navbar  -->
         <!-- END navbar Section  -->

         <style>
            #map {
                height: 400px;
                width: 100%;
                border-radius: 25px;
                /* margin: auto; */
               
                border: 1px solid var(--AmasLinkColor);
            }
            
        @media screen and (max-width:720px) {
            #map{
                /* margin-top: 100px; */
                height: 80vh;
            }
            .mapContainer{
                margin-top:150px;
            }
            
        }
        </style>
<section style="display: flex; align-items: center; justify-content: center; height: 70vh; width: 100%;" class="mapContainer">

<!-- <div id="map"></div> -->

<div id="map"></div>
</section>

<!-- Add Leaflet.js CDN -->
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>

<Footer id="footerContainer">

</Footer>
<!-- </div> -->
<script src="/js/footer.js"></script>
<script>
    function initMap() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, showError);
        } else {
            alert("Geolocation is not supported by this browser.");
        }
    }

    function showPosition(position) {
        const lat = position.coords.latitude;
        const lng = position.coords.longitude;

        const map = L.map('map').setView([lat, lng], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
        }).addTo(map);

        L.marker([lat, lng]).addTo(map)
            .bindPopup("You are here.")
            .openPopup();
    }

    function showError(error) {
        switch (error.code) {
            case error.PERMISSION_DENIED:
                alert("User denied the request for Geolocation.");
                break;
            case error.POSITION_UNAVAILABLE:
                alert("Location information is unavailable.");
                break;
            case error.TIMEOUT:
                alert("The request to get user location timed out.");
                break;
            case error.UNKNOWN_ERROR:
                alert("An unknown error occurred.");
                break;
        }
    }

    window.onload = initMap;
</script>

<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAP_KSbpzbZ-eOHFOPNIT9DLp8nWe0vmH4&callback=initMap" async defer></script>
<script>
    function initMap() {
        // Map options
        const mapOptions = {
            zoom: 15,
            center: { lat: -34.397, lng: 150.644 }, // Default center
        };
        
        // Create the map object
        const map = new google.maps.Map(document.getElementById('map'), mapOptions);
        
        // Try HTML5 geolocation
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                (position) => {
                    const pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude,
                    };
                    
                    // Set map center to user's current location
                    map.setCenter(pos);

                    // Place a marker at the user's location
                    new google.maps.Marker({
                        position: pos,
                        map: map,
                        title: "You are here!",
                    });
                },
                () => {
                    handleLocationError(true, map.getCenter());
                }
            );
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, map.getCenter());
        }
    }

    function handleLocationError(browserHasGeolocation, pos) {
        alert(browserHasGeolocation
              ? "Error: The Geolocation service failed."
              : "Error: Your browser doesn't support geolocation.");
    }
</script> -->
<script src="/js/navbar.js" type="module"></script>

  <div id="google_translate_element2">
        <div id="google_translate_element"></div>
      </div>
      <%- include ("googleTranslate") %>
      <script src="/js/jquery-1.12.4.min.js"></script>
      <script src="/js/googleTranslate.js"></script>

</body>
</html>
