<!DOCTYPE html>
<html lang="en" dir="ltr" data-bs-theme="light" data-color-theme="Red_Theme" data-layout="vertical">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <meta charset="utf-8">
        <script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
            }
        </script>
    
        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="AMASLINK is fast-growing free online classifieds with advanced security system. We provide a simple hassle-free solution to sell and buy almost anything, anytime,anywhere.">
        <meta name="author" content="Benson Michael Owen - OwenKz">
        <title>Memebers | Amaslink</title>
        <meta name="title" Content="Amaslink Classified - Dashboard">
    
        <link rel="shortcut icon" href="/plugins/images/favicon.png" type="image/x-icon">
        
        <link rel="apple-touch-icon" href="/plugins/images/favicon.png">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="Amaslink Classifed - Home">
    
        <meta itemprop="image" content="/assets/logo.png">
        
        <meta property="og:type" content="website">
        <meta property="og:title" content="Amaslink Classified">
       
        <meta property="og:image" content="/assets/logo.png"/>
        <meta property="og:image:type" content="png"/>
        <meta property="og:image:width" content="1180" />
        <meta property="og:image:height" content="600" />
        <meta property="og:url" content="www.amaslink.com/members">
        
        <meta name="twitter:card" content="summary_large_image">
    
        <meta name="robots" content="noindex,nofollow">
       
        <link rel="canonical" href="https://amaslink.com/" />
        <!-- Favicon icon -->
        <link rel="icon" type="image/png" sizes="16x16" href="/plugins/images/favicon.png">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,600" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
        <link href="/plugins/bower_components/chartist/dist/chartist.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css">
        <!-- Custom CSS -->
        <link href="/css/style.min.css" rel="stylesheet">
        <!-- <link rel="stylesheet" href="/css/general.css"> -->
         <link rel="stylesheet" href="/css/style.css">
        <link href="/css/table.css" rel="stylesheet">
        <link rel='stylesheet' href='https://cdn.jsdelivr.net/jquery.selectric/1.10.1/selectric.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css'>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


  <!-- Core Css -->
  <link rel="stylesheet" href="./assets/extra/css/styles.css" />
  <!-- <link rel="stylesheet" href="/css/style.css"> -->
   <link rel="stylesheet" href="/css/membersList.css">

</head>

<body class="link-sidebar">
    <input type="hidden" id="fullnameContainer" value="<%=username%>">
    <style>
        #main-wrapper[data-layout=horizontal] .topbar .navbar-collapse[data-navbarbg=skin5], #main-wrapper[data-layout=horizontal] .topbar[data-navbarbg=skin5], #main-wrapper[data-layout=vertical] .topbar .navbar-collapse[data-navbarbg=skin5], #main-wrapper[data-layout=vertical] .topbar[data-navbarbg=skin5]{
            background-color: var(--AmasLinkColor);
        }
        .btn-danger{
            background-color: var(--AmasLinkColor);
            border-radius: 50px;
        }
    </style>
  <!-- Preloader -->
  <div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
  </div>
  <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
  data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
    <header class="topbar" data-navbarbg="skin5" id="topbar">
    </header>
    <script src="/js/routes/topbar.js"></script>

    <!-- ============================================================== -->

    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <aside class="left-sidebar" data-sidebarbg="skin6" style="transition: ease-in-out 300ms; padding:0px 0px 20px 0px; height:100vh;">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->

            <nav class="sidebar-nav" id="sidebar_nav" >
                

            </nav>
            <script type="module" src="/js/routes/dashboard/sidenav.js"></script>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside> 
   
   
    <div class="page-wrapper">
      <div class="body-wrapper">
        <div class="container-fluid">
          <div class="shadow-none position-relative overflow-hidden mb-4">
            <div class="d-sm-flex d-block justify-content-between align-items-center">
              <h5 class="mb-0 fw-semibold text-uppercase"> Members List</h5>
              <nav aria-label="breadcrumb" class="d-flex align-items-center">
                <ol class="breadcrumb d-flex align-items-center">
             
                </ol>

              </nav>
            </div>
          </div>
          <div class="card overflow-hidden chat-application">
            <div class="d-flex align-items-center justify-content-between gap-6 m-3 d-lg-none">
              <!-- <button class="btn btn-primary d-flex" type="button" data-bs-toggle="offcanvas" data-bs-target="#chat-sidebar" aria-controls="chat-sidebar">
                <i class="ti ti-menu-2 fs-5"></i>
              </button> -->
              <!-- <form class="position-relative w-100">
                <input type="text" class="form-control search-chat py-2 ps-5" id="text-srh" placeholder="Search Contact">
                <i class="ti ti-search position-absolute top-50 start-0 translate-middle-y fs-6 text-dark ms-3"></i>
              </form> -->
            </div>
            <div class="d-flex w-100">
            
              <div class="d-flex w-100">
                <div class="min-width-340">
                  <div class="border-end user-chat-box h-100">
                    <div class="px-4 pt-9 pb-6 d-none d-lg-block">
                      <form class="position-relative">
                        <input type="text" class="form-control search-chat py-2 ps-5" id="text-srh" placeholder="Search" />
                        <i class="ti ti-search position-absolute top-50 start-0 translate-middle-y fs-6 text-dark ms-3"></i>
                      </form>
                    </div>
                    <div class="app-chat">
                      <ul class="chat-users mh-n100" id="usersList">
                    
                      
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="w-100">
                  <div class="chat-container h-100 w-100">
                    <div class="chat-box-inner-part h-100">
                      <div class="chatting-box app-email-chatting-box">
                        <div class="p-9 py-3 border-bottom chat-meta-user d-flex align-items-center justify-content-between">
                          <h5 class="text-dark mb-0 fs-5">Contact Details</h5>
                          <ul class="list-unstyled mb-0 d-flex align-items-center">
                            <li class="d-lg-none d-block">
                              <a class="text-dark back-btn px-2 fs-5 bg-hover-primary nav-icon-hover position-relative z-index-5" href="javascript:void(0)">
                                <i class="ti ti-arrow-left"></i>
                              </a>
                            </li>
                            <li class="position-relative" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="important">
                              <a class="text-dark px-2 fs-5 bg-hover-primary nav-icon-hover position-relative z-index-5" href="javascript:void(0)">
                                <!-- <i class="ti ti-star"></i> -->
                              </a>
                            </li>
                       
                          </ul>
                        </div>
                        <div class="position-relative overflow-hidden">
                          <div class="position-relative">
                            <div class="chat-box email-box mh-n100 p-9" data-simplebar="init" id="userInfoContainer">
                              <div>Click On a User to view more details</div>
                             
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!----Footer--->
        <!-- -------------------------------------------------------------- -->
        <!-- footer -->
        <!-- -------------------------------------------------------------- -->
 
        <!-- -------------------------------------------------------------- -->
        <!-- End footer -->
        <!-- -------------------------------------------------------------- -->
        <!----Footer End--->
      </div>

 

  
    </div>

    <!--  Search Bar -->

  </div>
  <div class="dark-transparent sidebartoggler"></div>
  <script src="./assets/extra/js/vendor.min.js"></script>
  <!-- Import Js Files -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/simplebar/6.2.7/simplebar.min.js" integrity="sha512-NkLfoy5pkmAKUxk/OXl9vi1PDSFnEEJ3bDFdX0ln1L0pto6jM7On0lLsjhNC62i2ifyXhPWjPpcGEXawBfErtQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="./assets/extra/js/theme/app.init.js"></script>
  <script src="./assets/extra/js/theme/theme.js"></script>
  <script src="./assets/extra/js/theme/app.min.js"></script>
  <!-- <script src="./assets/extra/js/theme/sidebarmenu.js"></script> -->
  <script src="./assets/extra/js/theme/feather.min.js"></script>

  <!-- solar icons -->
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
  <script src="./assets/extra/js/apps/chat.js"></script>
  <script src="/js/admin/allUsers.js"></script>
</body>

</html>