
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta charset="utf-8">
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
    </script>

    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="AMASLINK is fast-growing free online classifieds with advanced security system. We provide a simple hassle-free solution to sell and buy almost anything, anytime,anywhere.">
	<meta name="author" content="Benson Michael Owen - OwenKz">
    <title>Dashboard | Amaslink</title>
    <meta name="title" Content="Amaslink Classified - Dashboard">

    <link rel="shortcut icon" href="/plugins/images/favicon.png" type="image/x-icon">
    
    <link rel="apple-touch-icon" href="/plugins/images/favicon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaslink Classifed - Home">

    <meta itemprop="image" content="/assets/logo.png">
    
    <meta property="og:type" content="website">
    <meta property="og:title" content="Amaslink Classified">
   
    <meta property="og:image" content="/assets/logo.png"/>
    <meta property="og:image:type" content="png"/>
    <meta property="og:image:width" content="1180" />
    <meta property="og:image:height" content="600" />
    <meta property="og:url" content="www.amaslink.com/dashboard">
    
    <meta name="twitter:card" content="summary_large_image">


       <!-- Core Css -->
       <link rel="stylesheet" href="/assets/css/styles.css" />

   
       <link rel="stylesheet" href="/assets/libs/dropzone/dist/min/dropzone.min.css">
       <link rel="stylesheet" href="/assets/libs/select2/dist/css/select2.min.css">
   

    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/plugins/images/favicon.png">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,600" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link href="/plugins/bower_components/chartist/dist/chartist.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css">
    <!-- Custom CSS -->
    <link href="/css/style.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/css/general.css"> -->

    <link rel='stylesheet' href='https://cdn.jsdelivr.net/jquery.selectric/1.10.1/selectric.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css'>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<link rel="stylesheet" href="/css/style.css">
<link href="/css/table.css" rel="stylesheet">
<link rel="stylesheet" href="/css/membersList.css">

<!-- QUILL JS  -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>
<!-- END QUILL JS  -->

</head>

<body>
    <input type="hidden" id="fullnameContainer" value="<%=username%>">
    <style>
        #main-wrapper[data-layout=horizontal] .topbar .navbar-collapse[data-navbarbg=skin5], #main-wrapper[data-layout=horizontal] .topbar[data-navbarbg=skin5], #main-wrapper[data-layout=vertical] .topbar .navbar-collapse[data-navbarbg=skin5], #main-wrapper[data-layout=vertical] .topbar[data-navbarbg=skin5]{
            background-color: var(--AmasLinkColor);
        }
        .btn-danger{
            background-color: var(--AmasLinkColor);
            border-radius: 50px;
        }
        .dz-button{
            background-color: transparent !important;
            border: none;
            outline: none;
            height: 100px;
            padding: 10px;
        }
        .select2-dropdown li:hover, .select2-results__option--highlighted{
            background: var(--AmasLinkColor) !important;
        }
    </style>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader" style="display: initial;">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin5" id="topbar">

        </header>
        <script src="/js/routes/topbar.js"></script>
        <style>
      
            .box-shadow{
                box-shadow: 0px 10px 30px 0px rgba(37, 37, 37, 0.10);
            }
            .align-center{
                display: flex;
                flex-direction: column;
                align-items: center;
                color:rgb(81, 81, 81);
                /* position: relative; */
            }
            .align-center i{
                font-size:50px;
            }
            .analytics-info{
                transition: 200ms ease-in-out;
                cursor: pointer;
                user-select: none;
            }
            .analytics-info:hover{
                transform: scale(1.1);
            }
            .align-items-center{
                    align-items: center;
                    justify-content: center;
                    float: center;
                    margin: auto;
                  }
        </style>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin6" style="transition: ease-in-out; position: fixed; overflow: scroll;">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar" >
                <!-- Sidebar navigation-->

                <nav class="sidebar-nav" id="sidebar_nav">
                    

                </nav>
                <script type="module" src="/js/routes/dashboard/sidenav.js"></script>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside> 
       
       
        <div class="page-wrapper">

            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
    
    <h4 class="page-title">Post Ad - Full Page Advert</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <div class="d-md-flex">
                            <ol class="breadcrumb ms-auto">
                                <li><a href="/Logout/" class="fw-normal">Logout</a></li>
                            </ol>

                            
                            <a href="/Logout/" target="_blank"
                                class="btn btn-danger  d-none d-md-block pull-right ms-3 hidden-xs hidden-sm waves-effect waves-light text-white">Logout</a>
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">

                <div class="shadow-none position-relative overflow-hidden mb-4">
                    <div class="d-sm-flex d-block justify-content-between align-items-center">
                      <h5 class="mb-0 fw-semibold text-uppercase"> Post Ad</h5>
                 
                    </div>
                  </div>
                  <!-- start Basic Area Chart -->
                   <form id="postAdForm" enctype="multipart/form-data">
                    <span class="text-danger">* Plese note that adverts with website links or domain names will not be approved</span>

                    <input type="hidden" readonly value="<%=advertType%>" name="advert_type">
                    <input type="hidden" name="advert_duration" value="<%=advertDuration%>" readonly>
                  <div class="row">
                    <div class="col-lg-8 ">
                        <div class="card">
                            <div class="card-body">
                              <h4 class="card-title mb-7">Thumbnail</h4>
                              <div action="eco-add-product.html#" class="dropzone dz-clickable mb-2">
                                <div class="dz-default dz-message">
                                  <button class="dz-button" type="button">Click to select an Image</button>
          
                                  <input type="file" id="thumbnail" name="thumbnail" accept="image/*" hidden required>
                                  <div id="image-preview">
                                      <p>No image selected</p>
                                  </div>
                                  <div id="removeImageContainer" style="padding: 10px;">
                                      <button type="button" class="btn btn-danger" style="border: none; outline: none;">Remove Image</button>
                                  </div>
                                </div>
                              </div>
                              <p class="fs-2 text-center mb-0">
                                Set the product thumbnail image. Only *.png, *.jpg and *.jpeg image files are accepted.
                              </p>
                            </div>
                          </div>
                     
                
                      <div class="form-actions mb-5">
                        <button type="submit" class="btn btn-primary">
                          Save changes
                        </button>
                        <button type="button" class="btn bg-danger-subtle text-danger ms-6">
                          Cancel
                        </button>
                      </div>
                    </div>
                  
                  </div>
                  </form>
                  <!-- end Basic Area Chart -->
            <!-- ============================================================== -->
            <footer class="footer text-center" id="footer"> 
                
            </footer>
            <script type="module" src="/js/routes/dashboard/footer.js"></script>
            <!-- ============================================================== -->
            <!-- End footer -->
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <!-- <script src="/plugins/bower_components/jquery/dist/jquery.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/app-style-switcher.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js" integrity="sha512-3PRVLmoBYuBDbCEojg5qdmd9UhkPiyoczSFYjnLhFb2KAFsWWEMlAPt0olX1Nv7zGhDfhGEVkXsu51a55nlYmw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!--Wave Effects -->
    <script src="/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="/js/custom.js"></script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'></script>

  <div id="google_translate_element2">
        <div id="google_translate_element"></div>
      </div>
      <%- include ("googleTranslate") %>
      <script src="/js/jquery-1.12.4.min.js"></script>
      <script src="/js/googleTranslate.js"></script>

<div class="dark-transparent sidebartoggler"></div>
  <script src="https://bootstrapdemos.wrappixel.com/ample/dist/assets/js/vendor.min.js"></script>
  <!-- Import Js Files -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/simplebar/6.2.7/simplebar.min.js" integrity="sha512-NkLfoy5pkmAKUxk/OXl9vi1PDSFnEEJ3bDFdX0ln1L0pto6jM7On0lLsjhNC62i2ifyXhPWjPpcGEXawBfErtQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/js/theme/app.init.js"></script>

  <script src="/js/theme/app.min.js"></script>


  <!-- solar icons -->
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
  <!-- <script src="/assets/libs/quill/dist/quill.min.js"></script> -->


  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.full.min.js" integrity="sha512-RtZU3AyMVArmHLiW0suEZ9McadTdegwbgtiQl5Qqo9kunkVg1ofwueXD8/8wv3Af8jkME3DDe3yLfR8HSJfT2g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <script src="/js/forms/select2.init.js"></script>
  <script src="/assets/libs/jquery.repeater/jquery.repeater.min.js"></script>

  <script src="/js/forms/repeater-init.js"></script>
  <script src="/js/postFullPageAdvert.js"></script>
</body>

</html>