<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
    </script>

    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amaslnk - Best Free Classified Ads</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/forms.css">

    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/plugins/images/favicon.png">
</head>
<body>
    <div class="formContainer">
        <div class="form_header">
            <div class="form_header_left">
                <div class="image_container">
                    <img src="/assets/logo.png" alt="Logo">
                </div>
            </div>

            <div class="form_header_right">
                Already Have an Account? | <a href="/login"><button>Login</button></a>
            </div>
        </div>
        <!-- End form header  -->
         <!-- Start from Title  -->
          <div class="form_title">
            <h1><b>Create a New Account</b></h1>
          </div>
         <!-- end form Title  -->

         <!-- start form body  -->
         <form action="#" id="registerForm">
            <div class="form_control">
                <label for="Username">Username</label>
            <input type="text" id="username" placeholder="Enter Your username" required>
            </div>

            <div class="form_control">
                <label for="firstname">Firstname</label>
            <input type="text" id="firstname" placeholder="Enter your firstname" required>
            </div>

            <div class="form_control">
                <label for="lastname">Lastname</label>
            <input type="text" id="lastname" placeholder="Enter your lastname" required>
            </div>

            <div class="form_control">
                <label for="email">Email</label>
            <input type="email" id="email" placeholder="Enter your Email" required>
            </div>

            <div class="form_control">
                <label for="phonenumber">Phonenumber</label>
            <input type="text" id="phonenumber" placeholder="Enter your phonnumber" required>
            </div>

            <div class="form_control">
                <label for="country">Country</label>
            <input type="country" id="country" placeholder="Enter your Country" required>
            </div>

            <div class="form_control">
                <label for="password">Password</label>
                <div class="passwordMainContainer">
                    <input type="password" id="password" class="password" placeholder="Enter a password" required>
                    <div id="viewIcon" class="viewIcon">
                        <i class="bi bi-eye"></i>
                    </div>
                </div>
            
            </div>
            <div id="errorContainer" class="text-danger"></div>

            <div class="form_control">
                <label for="confirmPassword">Confirm Password</label>
           
            <div class="passwordMainContainer">
                <input type="password" id="confirmPassword" class="password" placeholder="Confirm Your password" required>
                <div class="viewIcon">
                    <i class="bi bi-eye"></i>
                </div>
            </div>

            <div class="form_control">
                <label for="country">Referral Id (Optional)</label>

            <% if(refID !== "") { %>
            <input type="text" id="referral_code" placeholder="Enter your Referral Id" value="<%= refID %>" readonly>
            <% } else { %>
            <input type="text" id="referral_code" placeholder="Enter your Referral Id">
                <% } %>
            </div>
            </div>

            <div class="form_body_footer"></div>
            <button type="submit" class="btn submit_btn">Register</button>
            <!-- <input type="submit" class="submit_btn" value="Register"> -->
        </form>
         <!-- End form body  -->

         <!-- <div class="form_divider"> -->
            <!-- <div class="line"></div>
            <span>or</span>
            <div class="line"></div> -->
         <!-- </div> -->

         <!-- <div class="form_sso_options"> -->
            <!-- <div class="option_container"> -->
                <!-- <div class="icon"><img width="30" height="30" src="https://img.icons8.com/color/48/google-logo.png" alt="google-logo"/></div>
               
                <div class="text">Continue With Google</div> -->
            <!-- </div>
         </div> -->


    </div>
 


  <div id="google_translate_element2">
        <div id="google_translate_element"></div>
      </div>
      <%- include ("googleTranslate") %>
      <script src="/js/jquery-1.12.4.min.js"></script>
      <script src="/js/googleTranslate.js"></script>
<script src="/js/forms/register.js"></script>

</body>
</html>