body{
    background-color: transparent;
}
.container-fluid{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 850px;
    padding: 10px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    /* background-color: transparent; */
}
.container-fluid .col-sm-2, .container .col-sm-2 h6{
    color:var(--AmasLinkColor)
}
.container-fluid .col-sm-2, .container .col-sm-2{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    width: 500px;
    max-width: 25%;
    min-width: 300px;
    min-height: 400px;
    height: 50%;
    margin-top: 10px;
    box-shadow: 2px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
.container-fluid .in, .container-fluid .btn:not(.btn-info){
    height: 100px;
    width: 100px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: var(--AmasLinkColor);
    display: flex;
    margin: auto;
    border: none;
    outline: none;
}

.container-fluid p{
    color: var(--AmasLinkColor);
    font-weight: bold;
}
.container-fluid .btn-info, .container .btn{
    border-radius: 25px;
  
    margin-top: 10px;
    border:1px solid var(--AmasLinkColor);
    color: var(--AmasLinkColor);
    background-color: transparent;
}

.container-fluid .btn-info:hover, .container .btn:hover{
    background-color: var(--AmasLinkColor);
   color: white;
   border: none;
   border: none;
   outline: none;
}
.bi-x{
    color: red;
    font-weight: bold;
    padding: 10px;
}

.bi-check2{
    color: teal;
    font-weight: bold;
    padding: 10px;
}

.container{
    display: flex;
    /* flex-direction: column; */
    padding: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* height: 80vh; */
    align-items: center;
}
.container .row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.container ul{
    list-style-type: none;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    padding: 10px;
    display: flex;
    margin: auto;
}
.container ul li{
    margin: 0px;
    align-items: flex-start;
    width: max-content;
}
.container .row .col-sm-4 ul{
   list-style-type: disc;
}
.container .row .col-sm-4 ul li{
    padding: 10px 0px 10px 0px;
    width: 100%;
}


@media screen and (max-width:240px), (max-width:480px), (max-width:720px), (max-width:800px), (max-width:900px), (max-width:1080px) {
    .container, .container-fluid{
        margin-top: 10vh;
    }
    
    .container-fluid{
        height: 100%;
        flex-wrap: nowrap;
    }
    .container-fluid .col-sm-2, .container .col-sm-2{
        margin-top: 10px;
    }
}