body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
  .page-wrapper{
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    /* Remove position: relative; */
}

  #chaListContainer{
    transition: 300ms ease;
    overflow-y: scroll;
    max-height: 70vh;
    position: sticky;
    top: 0;
  }
  .chat-panel {
    height: 60vh;
  }
  #messageContainer{
    transition: 300ms ease;
    width: 80%;
    height: 80vh;
  }

  .mainMessageBody{
    height: 100%;
    overflow: scroll;
  }
  .expanded{
    width: 0px;
    max-width: 0px;
    overflow: hidden;
  }
  
  .maxWidthContainer{
    margin: 0px auto;
    width: 95%;
    max-width:95%;
  }
  .container {
    /* margin: 60px auto; */
    padding: 0;
    width: 100%;
    max-width: 100%;
    /* margin: 0px; */
    height: 100%;
    border-radius: 7px;
    position: sticky;
    top: 0;
  }
  .page-wrapper > .container-fluid{
    padding: 0px;

  }
  .row{
    width: 100%;
  }
  
  .profile-image {
    width: 50px;
    height: 50px;
    border-radius: 40px;
  }
  
  .settings-tray {
    background: #eee;
    padding: 10px 15px;
    border-radius: 7px;
  }
  .settings-tray .no-gutters {
    padding: 0;
  }
  .settings-tray--right {
    float: right;
  }
  .settings-tray--right i {
    margin-top: 10px;
    font-size: 25px;
    color: grey;
    margin-left: 14px;
    transition: 0.3s;
  }
  .settings-tray--right i:hover {
    color: var(--AmasLinkColor);
    cursor: pointer;
  }
  
  .search-box {
    background: #fafafa;
    padding: 10px 13px;
  }
  .search-box .input-wrapper {
    background: #fff;
    border-radius: 40px;
  }
  .search-box .input-wrapper i {
    color: grey;
    margin-left: 7px;
    vertical-align: middle;
  }
  
  input, textarea {
    border: none;
    border-radius: 30px;
    width: 80%;
  }
  input::placeholder, textarea::placeholder {
    color: #e3e3e3;
    font-weight: 300;
    margin-left: 20px;
  }
  input:focus, textarea::-moz-focus-inner {
    outline: none;
  }
  
  .friend-drawer {
    padding: 10px 15px;
    display: flex;
    vertical-align: baseline;
    background: #fff;
    transition: 0.3s ease;
  }
  .friend-drawer--grey {
    background: #eee;
  }
  .friend-drawer .text {
    margin-left: 12px;
    width: 70%;
  }
  .friend-drawer .text h6 {
    margin-top: 6px;
    margin-bottom: 0;
  }
  .friend-drawer .text p {
    margin: 0;
  }
  .friend-drawer .time {
    color: grey;
  }
  .friend-drawer--onhover:hover {
    background: var(--AmasLinkColor);
    cursor: pointer;
  }
  .friend-drawer--onhover:hover p,
  .friend-drawer--onhover:hover h6,
  .friend-drawer--onhover:hover .time {
    color: #fff !important;
  }
  
  hr {
    margin: 5px auto;
    width: 60%;
  }
  
  .chat-bubble {
    padding: 10px 14px;
    background: #eee;
    margin: 10px 30px;
    border-radius: 9px;
    position: relative;
    animation: fadeIn 1s ease-in;
  }
  .chat-bubble:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom: 0;
    margin-top: -10px;
  }
  .chat-bubble--left:after {
    left: 0;
    border-right-color: #eee;
    border-left: 0;
    margin-left: -20px;
  }
  .chat-bubble--right:after {
    right: 0;
    border-left-color: var(--AmasLinkColor);
    border-right: 0;
    margin-right: -20px;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .offset-md-9 .chat-bubble {
    background: var(--AmasLinkColor);
    color: #fff;
  }
  
  .chat-box-tray {
    /* background: #eee; */
    display: flex;
    
    position: sticky;
    /* bottom: 0; */
    align-items: baseline;
    padding: 10px 15px;
    align-items: center;
    /* margin-top: 19px; */
    bottom: 0;
  }
  .chat-box-tray input, .chat-box-tray textarea {
    margin: 0 10px;
    padding: 6px 2px;
  }
  .chat-box-tray i {
    color: grey;
    font-size: 30px;
    vertical-align: middle;
  }
  .chat-box-tray i:last-of-type {
    margin-left: 25px;
  }