.formContainer{
    display: flex;
    flex-direction: column;
    width: 600px;
    max-width: 100%;
    height: max-content;
   
    margin: auto;
    padding: 8px 8px 50px 8px;
}

.form_header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
}
.form_header .image_container{
    height: inherit;
    width: 30%;
}

.form_header_right{
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}

.form_title{
    font-weight:bolder;
}

.formContainer button, .submit_btn{
    background-color: var(--AmasLinkColor);
    padding: 10px;
    color: antiquewhite;
    outline: none;
    border-radius: 5px;
    border: none;
}

.form_title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px 0px 10px 0px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form_control{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.form_control label{
    margin-top: 10px;
}
.form_control input, .form_control textarea, .form_control select{
    margin-top: 6px;
    background-color: transparent;
    display: flex;
    outline: none;
    border-radius: 2px;
    border: 1px solid #333;
    padding: 8px;
    width: 100%;
}

.form_control textarea{
    height: 150px;
}
.submit_btn{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    color: antiquewhite;
    align-items: center;
    cursor: pointer;
    /* background: var(--AmasLinkColor); */
    justify-content: center;
}
.submit_btn:hover{
    color: antiquewhite;
}

button:disabled, .submit_btn:disabled{
    background-color: rgb(106, 69, 69);
}

input:read-only, input:disabled{
    background-color: rgb(231, 231, 231);
    border: none;
}


.form_divider {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.form_divider .line{
    display: flex;
    height: 1px;
    width: 45%;
    background-color: #333;
}

.form_sso_options{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.form_sso_options .option_container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    border: 1px solid #333;
    padding: 10px;
}

.option_container .text{
    display: flex;
    width: 90%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.formSection{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: flex-end;
}

.formSection .form_control{
    width: 95%;
}

.formSectionCategories{
    display: flex;
    flex-direction: row;
    /* background-color: red; */
}
.formSectionCategories .form_control{
    width: max-content;
    /* background-color: pink; */
    padding-right: 10px;
}

.formSection .formActions{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}
.formSection i{
    padding: 10px;
    user-select: none;
    cursor: pointer;
}

.formSection .bi-check-circle-fill{
    color: teal;
}


        /* Basic styling for the list and buttons */
        .item-list {
            list-style-type: none;
            padding: 0;
            display: flex;
            flex-direction: row;
        }
        .item-list li {
            margin: 10px 0px 0px 10px;
        }
        .subCategoriesContainer select{
            display: none;
        }
        .item-button {
            padding: 10px 15px;
            border:1px solid var(--AmasLinkColor);
            color: rgb(34, 34, 34);
            border-radius: 25px;
            cursor: pointer;
            /* margin: 8px; */
            font-size: 16px;
            transition: 300ms ease;
        }
        .item-button.active {
            background-color: #6e6e6e;
            color: antiquewhite;
        }
        .subcategory-select {
            display: none;
            margin-top: 10px;
        }