.friend-drawer, .friend-drawer--onhover, .friend-drawer.friend-drawer--onhover{
    width: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.email-details{
    align-items: flex-start;
}

hr{
    align-self: flex-start;
    margin-left: 0px;
    width: 80%;
}
.commentsList{
    width: 100%;
}

#CreateForum .form_control{
    flex-direction: row;
    align-items: center;
}
#CreateForum input{
    width: 40%;
}
#CreateForum input::placeholder{
    color:#333;
}
#CreateForum button{
    margin-left: 10px;
}