.productsSection{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    /* background-color: red; */
    margin: auto;
}
.productsSection{
    padding-bottom: 50px;
}

/* Product item container */
.listings, .sponsored_ads{
    display: flex;
    flex-direction: column;
    /* height: 800px; */
    overflow: scroll;
    width: 100%;
    /* background-color: red; */
    max-width: max-content;
    align-self: space-between;
}
.products_list{
    display: flex;
    flex-wrap: wrap;
    max-width: max-content;
    margin: auto;
    justify-content: space-evenly;
}
/* .sponsored_ads{
    width: 100%;
    overflow: hidden;
    background-color: green;
} */
.sponsoredAdsList{
    display: flex;
    max-width: max-content;
    width: 10000px;
    /* flex-wrap: wrap; */
    /* overflow: scroll; */
}
.product_header {
    margin-left: 15px;
    font-size: 20px;
    height: 50px;
    border-bottom: 2px solid #333;
    padding:10px 0px 10px 0px;
    width: max-content;
    font-weight: bolder;
}
.product_item {
    background-color: #fdfdfd;
    border-radius: 15px;
    height: max-content;
    /* border: 1px solid var(--AmasLinkColor); */

    /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); */
    overflow: hidden;
    transition: transform 0.3s ease;
    width: 200px; /* Adjust width as needed */
    cursor: pointer;
    margin: 15px;
}

/* Hover effect */
.product_item:hover, .sponsoredAd:hover {
    transform: translateY(-5px);
}

/* Image container */
.product_item .image_container{
    width: 100%;
    height: 150px; /* Adjust height as needed */
    overflow: hidden;
    border-bottom: 1px solid #f0f0f0;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sponsoredAd .image_container {
    width:100%;
    height: 300px;
    overflow: hidden;
    border-bottom: 1px solid #f0f0f0;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Actions container */
.actions {
    display: flex;
    justify-content: space-between;
    padding: 8px 10px;
    background-color: #fafafa;
    border-top: 1px solid #f0f0f0;
}

/* Views count */
.viewsCount {
    display: flex;
    align-items: center;
    color: #3c3c3c;
}

.eye_icon {
    width: 20px;
    height: 20px;
    background-image: url('/assets/eye-alt-svgrepo-com.svg'); 
    background-size: cover;
    margin-right: 5px;
}

/* Save item (heart) */
.save_item {
    color: #ff6b6b;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.heart_icon {
    width: 20px;
    height: 20px;
    background-image: url('/assets/heart-svgrepo-com.svg'); 
    background-size: cover;
}

/* Product info container */
.product_info {
    padding: 15px;
}

/* Product name with character limit */
.product_name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

/* Location */
.location {
    font-size: 14px;
    color: #222222;
    display: flex;
    align-items: center;
}

.location i, .actions i{
    padding: 2px;
    color: var(--AmasLinkColor);
}

.location_icon {
    width: 16px;
    height: 16px;
    background-image: url('/assets/location-sign-svgrepo-com.svg'); 
    background-size: cover;
    margin-right: 5px;
}

.sponsored_icon{
    width: 16px;
    height: 16px;
    background-size: cover;
    margin-right: 5px;
    background-image: url('/assets/advertisement-svgrepo-com.svg');
}

.list_footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: var(--AmasLinkColor);
    height: 50px;
    border-radius: 25px;
    color: inherit;
    padding: 20px;
}

.list_footer a{
    text-decoration: none;
    color: whitesmoke;
    
}

.list_footer ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.sponsoredAd{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    width: 400px;
    height: 300px;
    padding: 10px;
    cursor: pointer;
    margin: 15px;
}

.pagination{
    list-style-type: none;
    display: flex;
    width: max-content;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-weight: semibold;
    align-items: center;
    padding: 10px;
}
.pagination .active{
    background-color: var(--AmasLinkColor);
    color: antiquewhite;
}
.pagination_item{
    display: flex;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 50%;
    color: var(--AmasLinkColor);
    border: 2px solid var(--AmasLinkColor);
    transition: ease 300ms;
}
.pagination_item:hover{
    background-color: var(--AmasLinkColor);
    color: antiquewhite;
    transform: translateY(-5px);

}
@media screen and (max-width:240px), (max-width:480px), (max-width:720px), (max-width:1080px) {
    .productsSection{
        /* background-color: red; */
        width: 100%;
        padding: 0px;
    }
    .products_list {
        /* background-color: green; */
        flex-wrap: wrap;
        padding: 10px 0px 50px 0px;
    justify-content: space-evenly;
    }
    .actions{
        padding: 0px 4px 0px 4px;
        height: max-content;
    }
 
    .location{
        font-size: 12px;
    }
    .product_info{
        padding: 2px 5px 5px 5px;
    }
    .product_item{
        margin: 3px;
        width: 150px;
        height: max-content;
    }
    .white-box{
        padding: 0px;
        width: 100%;
        
        max-width: 100%;
      }
   
      .pagination{
        display: flex;
        width: 300px;
        max-width: 100%;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
      }
      .pagination div, .pagination li{
        display: flex;
      }
      .box-title{
        padding: 10px;
      }

}