body{
    background: rgb(255, 245, 241);
}

.productsSection{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 2000px;
    align-items: center;
    margin: auto;
    /* padding: 10px 10px 0px 10px; */
}
.productsSection{
    padding-bottom: 0px;
}

.product_description{
    font-size: 12px;
    /* text-overflow: ellipsis; */
    /* white-space: wrap; */
    padding: 6px 0px 10px 0px;
    width: 100%;
    height: fit-content;
    /* margin-top: -10px; */
}

/* Product item container */
.listings, .sponsored_ads{
    display: flex;
    flex-direction: column;
    /* height: 800px; */
    gap: 10px;

    overflow: scroll;
    width: 100%;
    padding: 0px;
    max-width: 100%;
    align-self: space-between;
}
.products_list{
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 equal columns */
    grid-auto-rows: min-content; /* Ensures each row height adjusts to content */
    grid-gap: 8px; /* Adds 10px gap between all items */
    max-width: 100%;
    width: 100%;
    min-width: 100%;
    padding: 10px;
}
/* .sponsored_ads{
    width: 100%;
    overflow: hidden;
    background-color: green;
} */
.sponsoredAdsList{
    display: flex;
    max-width: max-content;
    width: 10000px;
    /* flex-wrap: wrap; */
    /* overflow: scroll; */
}
.product_header {
    margin-left: 15px;
    font-size: 20px;
    height: 50px;
    border-bottom: 2px solid #333;
    padding:10px 0px 10px 0px;
    width: max-content;
    font-weight: bolder;
}

.product_item {
    background-color: transparent;
    border-radius: 15px;
    height: fit-content;
    min-height: 200px;
    max-height: 250px;
    /* border:1px solid var(--AmasLinkColor); */
    box-sizing: border-box;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
    overflow: hidden;
    transition: transform 0.3s ease;
    min-width: 200px;
    width: 200px;
    /* max-width: fit-content; */
    cursor: pointer;
}

/* Hover effect */
.product_item:hover, .sponsoredAd:hover {
    transform: translateY(-5px);
}

/* Image container */
.productImage{
    object-fit:cover;
    visibility: hidden;
    /* width: 290%; */
    height: 300px;
    max-height: 100%;
    /* min-height: 300px; */
    /* max-height: 100%; */
    /* display: none; */
}
.product_item .image_container{
    width: 100%;
    min-height: 150px;
    /* height: 400px; */
    max-height: 150px;
    align-items: flex-end;
    justify-content: flex-end;
    /* filter: blur(199px); */
    overflow: hidden;
    border-bottom: 1px solid #f0f0f0;
    background-color: #f7f7f7;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}
/* .product_item .image_container img{
    filter: blur(0px);
} */

.sponsoredAd .image_container {
    width:100%;
    height: 300px;
    overflow: hidden;
    border-bottom: 1px solid #f0f0f0;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Actions container */
.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 10px;
    justify-self: flex-end;
    align-self: flex-end;
    height: 40px;
    padding: 8px 8px 0px 8px;
    width: 100%;
    position: sticky;
    bottom: 0;
    margin-bottom: 0px; 
    /* border-top: 1px solid #f0f0f0; */
}

/* Views count */
.viewsCount {
    display: flex;
    align-items: center;
    color: #3c3c3c;
    background-color: white;
    font-weight: bold;
    padding: 10px;

}

.eye_icon {
    width: 20px;
    height: 20px;
    background-image: url('/assets/eye-alt-svgrepo-com.svg'); 
    background-size: cover;
    margin-right: 5px;
}

/* Save item (heart) */
.save_item {
    /* color: white; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 50%;
    padding: 4px;
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.829);
    padding: 2px;
    height: 30px;
    width: 30px;
}

.heart_icon {
    width: 20px;
    height: 20px;
    background-image: url('/assets/heart-svgrepo-com.svg'); 
    background-size: cover;
}

/* Product info container */
.product_info {
    padding: 0px 15px 15px 15px;
    justify-content: flex-start;
    align-items: flex-start;

}

/* Product name with character limit */
.product_name {
    font-size: 13px;
    font-weight: bold;
    color: #333;
    /* margin-bottom: 10px; */
    overflow: hidden;
    
    text-overflow: ellipsis;
    white-space: wrap;
    max-width: 100%;
}

/* Location */
.location {
    font-size: 14px;
    color: #222222;
    display: flex;
    align-items: center;
}

.location i, .actions i{
    padding: 2px;
    color: var(--AmasLinkColor);
}

.location_icon {
    width: 16px;
    height: 16px;
    background-image: url('/assets/location-sign-svgrepo-com.svg'); 
    background-size: cover;
    margin-right: 5px;
}

.sponsored_icon{
    width: 16px;
    height: 16px;
    background-size: cover;
    margin-right: 5px;
    background-image: url('/assets/advertisement-svgrepo-com.svg');
}

.list_footer{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin: auto;
    background-color: var(--AmasLinkColor);
    height: 50px;
    border-radius: 25px;
    color: inherit;
    padding: 20px;
}

.list_footer a{
    text-decoration: none;
    color: whitesmoke;
    
}

.list_footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.sponsoredAd{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.3s ease;
    width: 400px;
    height: 300px;
    padding: 10px;
    cursor: pointer;
    margin: 15px;
}

.pagination{
    list-style-type: none;
    display: flex;
    width: max-content;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-weight: semibold;
    align-items: center;
    padding: 10px;
}
.pagination .active{
    background-color: var(--AmasLinkColor);
    color: antiquewhite;
}
.pagination_item{
    display: flex;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 50%;
    color: var(--AmasLinkColor);
    border: 2px solid var(--AmasLinkColor);
    transition: ease 300ms;
}
.pagination_item:hover{
    background-color: var(--AmasLinkColor);
    color: antiquewhite;
    transform: translateY(-5px);

}

@media screen and (max-width:1080px) {
    .products_list{
    grid-template-columns: repeat(4, 1fr); /* 5 equal columns */
    }
}
@media screen and (max-width:800px) {
    .products_list{
    grid-template-columns: repeat(4, 1fr); /* 5 equal columns */
    }
}
@media screen and (max-width:240px), (max-width:480px), (max-width:720px) {
    .products_list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: auto;
        min-width: 100%;
        width: 100%;
        max-width: 100%;
        grid-template-columns: repeat(2, 1fr); /* 5 equal columns */ 
        padding: 10px 0px 50px 0px;
        grid-gap: 2px;
    }
}
@media screen and (max-width:240px), (max-width:480px), (max-width:720px), (max-width:1080px) {
    .productsSection{
        width: 100%;
        max-width: 100%;
        padding: 0px;
    }
    .list_footer{
        width: 100%;
    }

    .listings{
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 10px;
        max-width: 100%;
    }
    .product_name{
        font-size: 10px;
    }
    .product_description{
        font-size: 8px;
        height: max-content;
    }
    .actions{
        padding: 0px 2px 0px 2x;
        height: max-content;
        min-height: 10px;
    }
    .actions div{
        font-size: 15px;
        display: flex;
        height: 20px;
        width: 20px;
        margin-bottom: 10px;
    }
 
    .location{
        font-size: 12px;
        /* margin-bottom: 0px; */
        /* align-self: flex-; */
        justify-self: flex-start;
    }
    .product_info{
        padding: 2px 5px 5px 5px;
        min-height: 60px;
        display: flex;
        flex-direction: column;
        /* background-color: gold; */
        /* justify-content:center; */
    }
   
    .product_info{
        height: fit-content;
        max-height: fit-content;
    }
    .product_item{
        font-size: 2px;
        margin: 0px;
        min-width: 200px;
        width: 200px;
        max-width: 50%;
        height: fit-content;
        min-height: 150px;
        max-height: max-content;
    }

    .white-box{
        padding: 0px;
        width: 100%;
        max-width: 100%;
      }
      .product_item .image_container{
        flex-direction: column;
        /* height: 0px; */
      
        min-height: 150px;
        max-height: 150px;
        border: 1px sold var(--AmasLinkColor);
      }
   
      .pagination{
        display: flex;
        width: 100%;
        max-width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: row;
      }
      .pagination div, .pagination li{
        display: flex;
      }
      .box-title{
        padding: 10px;
      }

}